NumLayers					  : 2
InputBitDepth                 : 8           # Input bitdepth
FrameSkip                     : 0           # Number of frames to be skipped in input
FramesToBeEncoded             : 500         # Number of frames to be coded

#======== File I/O ===============
InputFile0                    : BasketballDrive_1920x1080_50.yuv
FrameRate0                    : 50          # Frame Rate per second
SourceWidth0                  : 1920        # Input  frame width
SourceHeight0                 : 1080        # Input  frame height
IntraPeriod0                  : 48          # Period of I-Frame ( -1 = only first)
QP0                           : 22
CroppingMode0                 : 1           # automatic padding

InputFile1                    : BasketballDrive_1920x1080_50.yuv
FrameRate1                    : 50          # Frame Rate per second
SourceWidth1                  : 1920        # Input  frame width
SourceHeight1                 : 1080        # Input  frame height
IntraPeriod1                  : 48          # Period of I-Frame ( -1 = only first)
QP1                           : 20
CroppingMode1                 : 1           # automatic padding
